{{define "model_simple" -}}
import (
	"github.com/go-json-experiment/json"
	"github.com/go-json-experiment/json/jsontext"
)

{{$schema := .Schema}}
{{$schemaName := .SchemaName}}
{{$propNames := propertyNamesOrdered $schemaName $schema}}
{{- if $schema.Description}}
// {{$schema.Description | replace "\n" "\n// "}}
{{- end}}
type {{$schemaName}} struct {
{{- range $propName := $propNames}}
{{- $prop := getProperty $schema $propName}}
{{- if $prop}}
{{- /* Render description for all properties, including array enums */}}
{{- if $prop.Description}}
	// {{$prop.Description | replace "\n" "\n	// "}}
{{- end}}
{{- $required := getPropertyRequired $schema $propName}}
{{- $propGoName := pascalcase $propName}}
{{- $openAPIType := getType $prop}}
{{- /* Determine the Go type */}}
{{- $propType := schemaToGoType $prop }}
{{- /* Add pointer for optional fields */}}
{{- if not $required}}
	{{- if and (ne $openAPIType "array") (ne $openAPIType "object")}}
		{{- $propType = printf "*%s" $propType}}
	{{- end}}
{{- end}}
{{- $omit := ",omitzero"}}
{{- if $required}}
	{{- $omit = ""}}
{{- end}}
	{{$propGoName}} {{$propType}} `json:"{{$propName}}{{$omit}}"`
{{- end}}
{{- end}}

	// AdditionalProperties captures any JSON object members that do not map to
	// an explicit field above.
	AdditionalProperties map[string]jsontext.Value `json:",embed"`
}

{{/* ensure that callers using encoding/json don't break */}}
func (m *{{$schemaName}}) UnmarshalJSON(data []byte) error {
	type Alias {{$schemaName}}
	return json.Unmarshal(data, (*Alias)(m))
}

func (m {{$schemaName}}) MarshalJSON() ([]byte, error) {
	type Alias {{$schemaName}}
	return json.Marshal((Alias)(m))
}
{{- end}}
