{{define "model_enum" -}}
{{$schema := .Schema}}
{{$schemaName := .SchemaName}}
{{if $schema.Description -}}
// {{$schema.Description | replace "\n" "\n// "}}
{{end -}}
type {{$schemaName}} string

const (
{{- range $schema.Enum}}
	{{$schemaName}}{{capitalizeEnum (replace "-" "_" (printf "%v" .))}} {{$schemaName}} = {{printf "%q" .}}
{{- end}}
)
{{- end}}
