{{define "model_defined" -}}
{{$schema := .Schema}}
{{$schemaName := .SchemaName}}
{{if $schema.Description -}}
// {{$schema.Description | replace "\n" "\n// "}}
{{end -}}
type {{$schemaName}} {{schemaToGoType $schema}}
{{- end}}
