{{- range .Models}}
--- {{snakecase .SchemaName}}
{{template "header" .}}
package {{$.Var "package" ""}}

{{$imports := collectImports .Schema}}
{{- if not (isEnum .Schema)}}
{{- $imports = append $imports "encoding/json"}}
{{- end}}
{{- $imports = uniq $imports}}
{{if $imports}}
{{range $imports}}
import "{{.}}"
{{end}}
{{end}}

{{$schema := .Schema}}
{{$schemaName := .SchemaName}}
{{if isEnum $schema}}
{{template "model_enum" .}}
{{else}}
{{template "model_simple" .}}
{{end}}
{{- end}}
