{{- range .Models}}
--- model_{{snakecase .SchemaName}}.gen.go
{{template "header" .}}
package {{$.Var "package" ""}}

{{$schema := .Schema}}
{{$schemaName := .SchemaName}}
{{if $schema.Enum}}
{{template "model_enum" .}}
{{else}}
{{template "model_simple" .}}
{{end}}
{{- end}}
